@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
    font-size: 11pt;
  }

  header, aside, nav, button, .no-print {
    display: none !important;
  }

  .printable-report {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}
